{% extends "base.html" %}
{% load i18n bootstrap %}

{% block title %}{% trans "Login" %} - {{ block.super }}{% endblock title %}

{% block main %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <form action="" method="post">
          <legend>{% trans "Login" %}</legend>
          <fieldset>
            {% csrf_token %}
            {{ form|bootstrap }}
            {% if next %}
              <input type="hidden" name="next" value="{{ next|escape }}"/>
            {% endif %}
          </fieldset>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
          </div>
          <hr>
        </form>
      </div>
    </div>
  </div>
{% endblock main %}
